<header>
  <nav (scroll)="onScroll()" [ngClass]="navBarFixed?'fixed':'nofixed'">
    <img src="../../assets/Logo_4panierBoutik.png" alt="Logo 4panier boutik" class="logo" [routerLink]="['']">
    <div class="nav-link" [class.menuClass]="menuVariable">
      <div class="search-content">
        <span class="material-icons search">search</span>
        <input type="text" placeholder="chercher une marque, un produit, une catégorie">
      </div>
      <ul>
        <li>
          <a routerLinkActive="active" [routerLink]="['/articles']"> ARTICLES <span class="material-icons">arrow_drop_down</span></a>
          <ul class="dropdown">
            <li><a href="#" routerLinkActive="active" [routerLink]="['/nike']">NIKE</a></li>
            <li><a href="#" routerLinkActive="active" [routerLink]="['/adidas']">ADIDAS</a></li>
            <li><a href="#" routerLinkActive="active" [routerLink]="['/jordan']">JORDAN</a></li>
            <li><a href="#" routerLinkActive="active" [routerLink]="['/underArmour']">UNDER ARMOUR</a></li>
          </ul>
        </li>
        <li><a href="#" routerLinkActive="active" [routerLink]="['/maillots']">MAILLOTS</a></li>
        <li><a href="#" routerLinkActive="active" [routerLink]="['/chaussures']">CHAUSSURES</a></li>
        <li><a href="#" routerLinkActive="active" [routerLink]="['/accessoires']">ACCESSOIRS</a></li>
      </ul>
    </div>
    <div class="items">
      <div *ngIf="count()>0" class="nbrCart">{{ nbrCmd }}</div>
      <ng-container *ngIf="true">
        <span class="material-icons" 
        routerLinkActive="active" [routerLink]="['/connexion']">person</span>
      </ng-container>
      <ng-container *ngIf="false ">
        <span class="material-icons" routerLinkActive="active" routerLinkActive="active" [routerLink]="['/connexion']">person </span>
        | Name
        <span (click)="logout()">|DECONNECTION</span>
      </ng-container>
      <span class="material-icons" routerLinkActive="active" [routerLink]="['/panier']">shopping_cart</span>
      <span class="material-icons" routerLinkActive="active">call</span>
    </div>
    <span class="material-icons menu" #menu (click)="openMenu()">{{ iconBtn }}</span>
  </nav>

</header>
