<footer>
  <div>
    <span class="title">4PANIER BOUTIK</span>
  </div>

  <div class="footermain">
    <div class="coordonnee">

      <div class="coordonnee__dis">
        <span class="material-icons">location_on</span>
        <p>2715 Ash Dr. San Jose, South Dakota 83475</p>
      </div>

      <div class="coordonnee__dis">
        <span class="material-icons">mail</span>
        <p>4panierboutik@gmail.com</p>
      </div>

      <div class="coordonnee__dis">
        <span class="material-icons">phone</span>
        <p>(225) 0505671234</p>
      </div>
    </div>

    <div class="socialmedia">
      <a href="https://www.linkedin.com/in/katinaouattara/" target="_blank" id="linka">
        <div class="circleborder--white">
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </a>


      <!-- Icon twitter -->
      <a href="https://twitter.com/pevirgile" target="_blank" id="linka">
        <div class="circleborder--white">
          <i class="fa-brands fa-twitter"></i>
        </div>
      </a>


      <!-- Icon Instagrame -->
      <a href="https://www.instagram.com/kaji17kaji17/" target="_blank" id="linka">
        <div class="circleborder--white">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </a>

    </div>

    <div class="navigation">
      <span   class="nav" [routerLink]="['']">ACCUEIL</span>
      <span class="nav">MAILLOTS</span>
      <span  class="nav" >CHAUSSURES</span>
      <span  class="nav" >ACCESSOIRES</span>
      <span  class="nav" >NIKE</span>
      <span  class="nav" >ADIDAS</span>
      <span  class="nav" >JORDAN</span>
      <span  class="nav" >UNDER ARMOUR</span>
    </div>
  </div>
  <hr>
  <div class="copyRigth">
    © 2023 4Panier All rights reserved.
  </div>
</footer>
