<footer>
  <div>
    <span class="title">4PANIER BOUTIK</span>
  </div>

  <div class="footermain">
    <div class="coordonnee">

      <div class="coordonnee__dis">
        <span class="material-icons">location_on</span>
        <p>2715 Ash Dr. San Jose, South Dakota 83475</p>
      </div>

      <div class="coordonnee__dis">
        <span class="material-icons">mail</span>
        <p>4panierboutik@gmail.com</p>
      </div>

      <div class="coordonnee__dis">
        <span class="material-icons">phone</span>
        <p>(225) 0505671234</p>
      </div>
    </div>

    <div class="socialmedia">
      

    </div>

    <div class="navigation">

    </div>
  </div>
</footer>