<div class="main-content">
  <div class="title-content">
    <div class="title">
      MAILLOTS
    </div>
  </div>

  <div>

    <div>
      <h2>Articles</h2>
      <hr>
      <span routerLinkActive="active" [routerLink]="['/nike']">NIKE</span>
      <span routerLinkActive="active" [routerLink]="['/jordan']">JORDAN</span>
      <span routerLinkActive="active" [routerLink]="['/adidas']">ADIDAS</span>
      <span routerLinkActive="active" [routerLink]="['/underArmour']">UNDER ARMOUR</span>
      <hr>
      <h2>Tarifs</h2>
      <hr>
      <span (click)="tarifFilter(0, 20000)"> < 20000 FCFA </span>
      <span (click)="tarifFilter(21000, 30000)">21000 - 30000 FCFA</span>
      <span (click)="tarifFilter(31000, 49000)">31000 - 49000 FCFA</span>
      <span (click)="tarifFilter(50000, 100000)"> >50000 </span>
    </div>
  </div>

  <div class="grid-content">
    <div class="card-article" *ngFor="let article of filterMaillotList" [routerLink]="['/articles', article.articleId]">
      <img src="{{ article.articleOverview }}" alt="" class="articleImg" >
      <span class="card-article__Name">{{ article.articleName | uppercase }}</span>
      <span class="card-article__Prix">{{ article.articlePrice | currency:'XOF' }}</span>
    </div>
  </div>
</div>