.panier-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;

  .items {
    display: flex;
    justify-content: space-around;

    >.blg2 {
      max-width: 320px;
    }
  }

  >:first-child {
    width: 70%;
  }

  >:last-child {
    display: flex;
    flex-direction: column;
  }

  span {
    cursor: pointer;
  }
}

.commande {
  display: flex;
  align-items: center;
  justify-content: space-between;

  >.quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    >.btn-quantity {
      width: 20px;
      height: 22px;
      left: 708px;
      top: 663px;
      color: #0097B2;
      border-color: #FFFFFF;
      background: #FFFFFF;
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.imgProd {
  width: 216px;
  height: 190px;

}

.price {
  font-weight: 800;
  font-size: 20px;
  color: rgba(255, 237, 0, 0.83);
}

.totalpanier {
  border: 1px solid #000000;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  height: 263px;
  justify-content: center;
}

.commanderWhat {
  width: 81%;
  height: 53px;
  background: rgba(0, 0, 0, 0.59);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;

  .iconWhat {
    width: 31px;
    height: 31px;
  }
}

.card {
  height: 60vh;
  margin: 25px;
  padding: 25px
}

.center {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;

  >img {
    margin-bottom: 20px;
    height: 100px;
  }
}

@media screen and (max-width:1024px) {
  .center {
    top: 50%;

    >img {
      margin-bottom: 20px;
      height: 150px;
    }
  }
}

@media screen and (max-width:507px) {
  .card {
    height: 70vh;
    margin: 25px;
    padding: 15px
  }

  .center {
    top: 60%;
  }
}

@media screen and (max-width:1066px){
  .panier-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >:first-child {
      width: 90%;
    }
    >:last-child {
      margin-top: 20px;
    }
  }
  .totalpanier{
    width: 50%;

  }
}
@media screen and (max-width:626px){
  .items{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >.blg2 {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .totalpanier{
    width: 90%;

  }
}
