<div class="home-content">
  <div class="home-content__left">
    4PANIER BOUTIK POUR UN MATOS DE
    <span class="color-box">QUALITE</span>
  </div>

  <div class="home-content__right">
    <div class="block2">
      <div class="img-content">
        <img src="../../assets/Logo_4panierBoutik.png" alt="Logo_4panierBoutik">
        <img src="../../assets/d5f0c.jpg" alt="Curry maillot golden state">
        <img src="../../assets/Accessories/nocta-manchon1.jpeg" alt="manchon blanc">
      </div>
    </div>
  </div>
</div>

<div class="logo-content">
  <div class="logo1 logo"></div>
  <div class="logo2 logo"></div>
  <div class="logo3 logo"></div>
  <div class="logo4 logo"></div>
</div>

<div class="title-content">
  <div class="title">
    DISPONIBLE CHEZ NOUS
  </div> 
</div>

<app-articles-list></app-articles-list>